/* 2014.10.31 */
.nav-list-add {
	width: 100px !important;
	margin: 10px;
}
.nav-list-add li a {
	text-align: center;
}
#insert {
	width: 850px;
}
#insert tbody tr {
	float: left;
	width: 400px;
	margin-right: 20px;
	margin-bottom: 5px;
	height: 32px;
}
#insert tbody tr td {
	position: relative;
}
#settings_dialog {
	min-width: 900px;
}
.w850 {
	width: 850px !important;
}
.tdLeft {
	width: 180px;
}
/*.modal-body{ padding: 0 !important;}*/
.tab-content {
	border-left: 1px solid #d9d9d9;
	margin-left: 0 !important;
}
.tab-pane {
	padding: 20px;
}
#delete_machine_type, #setting_activity_machine {
	float: left;
	margin-left: 10px;
}
#current_activity_print_machine {
	margin-bottom: 10px;
}
.fl {
	float: left;
}
.gcode_files_action {
	width: 93px !important;
}
.modal-header {
	position: relative;
}
#current_activity_print_machine {
	position: absolute;
	left: 150px;
	top: 14px;
	color: #79c8f3;
}
#delete_machine_type, #setting_activity_machine {
	border-radius: 3px;
	border: 1px solid #bebebe;
	height: 29px;
	background: #e7e7e7;
	background-image: -moz-linear-gradient(top, #f1f1f1, #e5e5e5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#e5e5e5));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e5e5e5);
	background-image: -o-linear-gradient(top, #f1f1f1, #e5e5e5);
	background-image: linear-gradient(to bottom, #f1f1f1, #e5e5e5);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #058bd2;
}
.btn-primary {
	background-color: #058bd2;
	background-image: -moz-linear-gradient(top, #08c, #04c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#78c7f0), to(#078cd1));
	background-image: -webkit-linear-gradient(top, #78c7f0, #078cd1);
	background-image: -o-linear-gradient(top, #78c7f0, #078cd1);
	background-image: linear-gradient(to bottom, #78c7f0, #078cd1);
}
.gcode_files_action {
	color: #000;
}
.span8 .nav li.active a {
	color: #fff;
	background-color: #058bd2;
	background-image: -moz-linear-gradient(top, #08c, #04c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#78c7f0), to(#078cd1));
	background-image: -webkit-linear-gradient(top, #78c7f0, #078cd1);
	background-image: -o-linear-gradient(top, #78c7f0, #078cd1);
	background-image: linear-gradient(to bottom, #78c7f0, #078cd1);
	border: 1px solid #1a81ce;
	padding: 8px 20px;
	text-align: center;
}
.fileinput-button {
	background-color: #04c !important;
	background-image: -moz-linear-gradient(top, #08c, #04c) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c)) !important;
	background-image: -webkit-linear-gradient(top, #08c, #04c) !important;
	background-image: -o-linear-gradient(top, #08c, #04c) !important;
	background-image: linear-gradient(to bottom, #08c, #04c) !important;
	background-repeat: repeat-x !important;
	border-color: #04c #04c #002a80 !important;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) !important;
}
.wrap {
	width: 888px !important;
	position: relative;
	border: 1px solid #d9d9d9;
	left: 15px;
	border-left:none;
}
#tab_t li {
	float: none !important;
	height: 63px !important;
	width: 22px !important;
	line-height: 15px !important;
	border-bottom: 1px solid #ccc !important;
	border-radius: 3px 0 0 3px;
	margin-bottom: 1px !important;
	padding: 14px 0 6px 0 !important;
	text-align: center !important;
}
#tab_t .act {
	height: 63px !important;
	width: 22px !important;
	line-height: 15px!important;
	border: 1px solid #4c90c1 !important;
	margin-bottom: 1px !important;
	padding: 14px 0 6px 0 !important;
	text-align: center !important;
	color: #fff;
	background: #89cef5 !important;
}
#tab_t {
	border-bottom: none !important;
}
.wrap #tab_t {
	position: absolute;
	left: -27px;
	top: -1px;
}
#basic_sitting .trLeft {
	float: left;
	width: 354px;
	height: 29px;
}
#basic_sitting .tdR {
	width: 140px !important;
	vertical-align: middle !important;
	line-height: 29px !important;
	height: 24px !important;
	vertical-align: middle !important;
}
#advanced_sitting .trLeft {
	float: left;
	width: 414px;
	height: 38px;
}
#advanced_sitting .tdR {
	width: 206px !important;
	line-height: 29px !important;
	height: 21px !important;
	vertical-align: middle !important;
}
.tabbable {
	position: relative !important;
	/*left: -17px !important;*/
}
#tab_c input[type='text'], .form-horizontal input[type='text'] {
	width: 150px !important;
}
#advanced_sitting tbody td strong, #basic_sitting tbody td strong {
	background: #89cef5 !important;
	padding: 5px;
	color: #fff;
}
body {
	background: url(containerBg.jpg) repeat;
}
.row {
	background: #fff;
	padding-top: 20px !important;
	border-radius:0 0 5px 5px;
}
.octoprint-container .row {
	margin-top: -19px !important;
}
#settingsTabs .nav-header {
	display: none;
}
#settings_print_mode {
	border: 1px solid #d9d9d9;
	border-left: none;
	width: 900px;
}
.footer .pull-right {
	display: none;
}
#tab_c {
	border: 1px solid #dbdbdb !important;
	border-top: none !important;
	border-right: none !important;
	padding: 20px !important;
	border-bottom: none !important;
	border-right: none !important;
	padding-top: 0 !important;
}
#fast_print {
	height: 347px !important;
}
#settings_printerParameters {
	border: 1px solid #d9d9d9;
	border-left: none;
}
#settings_serialConnection {
	width: 900px;
	border: 1px solid #d9d9d9;
	height: 405px;
	border-left: none;
}
.mB20 td {
	padding-top: 27px !important;
	height: 25px !important;
}
.mB20 td strong {
	margin-bottom: 10px !important;
}
.modal-backdrop {
	background: #000 !important;
}
.accordion .accordion-group{ margin-bottom:5px !important;}
.accordion-group .accordion-heading{ background:#1f5f89; border-radius: 5px 5px 0 0;}
.accordion-group .accordion-heading a{color: #000 ; font-weight: normal;}
.accordion-toggle i{ margin-right:10px !important; color:#fff !important;}
.dropdown-toggle span.icon-wrench{color:#fff !important;}
.pull-right small a{ margin:0 5px !important;}
.accordion-inner{ line-height:30px !important;}
#navbar .navbar-inner .brand span{ padding-left:35px !important;}
.modal-header h3{ padding-left:12px !important;}
#print_type_settings,#settings-serialPort,#settings-baudrate,#connection_ports,#connection_baudrates{ outline:none;}
.fastPrintMain div span{ display:inline-block; background: #89cef5 !important; padding:0 5px; color: #fff; }
.fastPrintMain ul li{ list-style:none; padding-left:10px; }
.fastPrintMain ul{ padding:20px 0 20px 20px;}
.fastPrintMain{ border:1px solid #d9d9d9; padding:16px;}


/*µÇÂ½Ò³Ãæ*/
#login{background:#1c50a2 url(/static/img/loginBodyBg.jpg) top center no-repeat;}
.loginBox{ width:270px;  background:#fff; border-radius:5px; position:absolute; top:50%; left:50%; margin-left:-155px; margin-top:-220px; padding:20px;}
.loginBox{ text-align:center; box-shadow: 0 0 15px #666;}
.loginBox .padding{ padding-top:20px;}
.loginBox .padding p {overflow:hidden;}
.loginBox .padding p label{ color:#767676; height:40px; line-height:35px;}
.loginBox .padding p .logoImg{ padding-bottom:20px;}
.loginBox .padding p.inputH input{ height:25px;  color:#555 !important; }
.loginBox .padding p label input{margin-right:10px;}
.tl{ text-align:left;}
.tr{ text-align:right;}
.fl{ float:left;}
.Grey{ color:#767676; text-decoration:underline;}
.loginBox .loginBtn{ height:36px;}
.redBox{ background:#f2dede; line-height:36px; width:60%; margin:0 auto; color:#ff6514; font-size:12px;}

.shake{
-webkit-animation:shake 1s .2s ease both;
-moz-animation:shake 1s .2s ease both;}
@-webkit-keyframes shake{
0%,100%{-webkit-transform:translateX(0);}
10%,30%,50%,70%, 90%{-webkit-transform:translateX(-10px);}
20%,40%,60%,80%{-webkit-transform:translateX(10px);}
}
@-moz-keyframes shake{
0%,100%{-moz-transform:translateX(0);}
10%,30%,50%,70%, 90%{-moz-transform:translateX(-10px);}
20%,40%,60%,80%{-moz-transform:translateX(10px);}
}
.octoprint-container .tab-content{ padding:0 !important;}
.tab-pane{ padding:0 !important;}

#browse{padding:0px !important;}
#temp{padding:40px !important;}
#control{padding:40px !important;}
#timelapse{padding:40px !important;}
#term{padding:40px !important;}
#gcode{padding:20px !important;}
#browse iframe{ border:none !important;}
.accordion-group .accordion-heading .color_fff{color: #fff !important; font-weight: bold;}